{% extends 'base.html' %}

{% block  title %}
Update note {{ note.name }}
{% endblock %}

{% block body %}
<h2 style="text-align:center;">Update note</h2>
<form method="post">
    <p style="text-align:center;"><input type="text" name="name" id="name" value="{{ note.name }}" class="form-control"><br>
    <p/>
    <p style="text-align:center;"><textarea name="text" id="text" class="form-control">{{ note.text }}</textarea><br>
    <p/>
    <p style="text-align:center;"><input type="submit" class="btn btn-success" value="update"><br>
    <p/>
</form>
<p><a href="/notes/{{ note.id }}" class="btn btn-warning">Back</a><p/>
<p><a href="/" class="btn btn-warning">Back to main page</a><p/>
{% endblock %}