{% extends 'base.html' %}

{% block  title %}
All notes
{% endblock %}

{% block body %}
<h1>Notes history</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Updated at</th>
    </tr>

    {% for note_change in note_changes %}
    <tr>
        <td>{{ note_change.name }}</td>
        <td>{{ note_change.text }}</td>
        <td>{{ note_change.updated_at.date() }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="/notes/{{ note_changes[0].note_id }}" class="btn btn-warning">Back to note</a></p>
<p><a href="/notes" class="btn btn-warning">Back to all notes</a></p>
<p><a href="/" class="btn btn-warning">Back to main page</a></p>
{% endblock %}